<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="Entities" 
        connectionString="metadata=res://*/Models.Entity.Model.csdl|res://*/Models.Entity.Model.ssdl|res://*/Models.Entity.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRA-GEN-PSQL;initial catalog=Brazil_Small;user id=site_br;password=CariocaCola;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
        providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AC_Entities" connectionString="metadata=res://*/Models.Entity.AccessModel.csdl|res://*/Models.Entity.AccessModel.ssdl|res://*/Models.Entity.AccessModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRA-GEN-PSQL;initial catalog=Brazil_Small;user id=site_br;password=CariocaCola;multipleactiveresultsets=True;application name=EntityFramework&quot;"
        providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="PROTESTE.BRAZIL_SMALL" connectionString="Data Source=BRA-GEN-PSQL;Initial Catalog=Brazil_Small;Persist Security Info=True;User ID=site_br;Password=CariocaCola"
        providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="INTERVAL" value="60" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="APP_URL" value="http://autoresponder.brasil.acceptance.tst" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /><!-- SEM '/' no final -->
    <add key="DEFAULT_SENDER_EMAIL" value="mailout.proteste@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RETURN-PATH" value="mailout.proteste@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="USE_POP3" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="POP_ACCOUNT_HOST" value="pop.gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="POP_ACCOUNT_PORT" value="995" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="POP_ACCOUNT_EMAIL" value="mailout.proteste@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="POP_ACCOUNT_PASS" value="pr0t3st3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="SMTP_ACCOUNT_HOST" value="smtp.mandrillapp.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMTP_ACCOUNT_PORT" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMTP_ACCOUNT_EMAIL" value="moliveira@proteste.org.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMTP_ACCOUNT_PASS" value="vVXBE202VDvYE9cuYx1oeg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EXCHANGE_SERVICE" value="https://outlook.office365.com/EWS/exchange.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EXCHANGE_ACCOUNT_EMAIL" value="lpm@conseur.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EXCHANGE_ACCOUNT_PASS" value="lptm1982" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>
