<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AC_Entities" connectionString="metadata=res://*/Entity.AccessModel.csdl|res://*/Entity.AccessModel.ssdl|res://*/Entity.AccessModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRA-GEN-PSQL;initial catalog=Brazil_Small;user id=site_br;password=CariocaCola;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Entity.Model.csdl|res://*/Entity.Model.ssdl|res://*/Entity.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bra-gen-psql.brasil.conseur.org;initial catalog=Brazil_Small;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>